body{
   /*cor de fundo e fonte*/
}

div{
    display: flex ;
    align-items: center ;
    justify-content: center ;
    flex-direction: column ;
    border-radius: 8px;
}

.cadd img{
    width: 800vh ;
}
p {

  font-family: 'Lobster', cursive;

  font-size: 25px;
}

h1{
  width: 100vh ;
}

h2{
  width: 200vh ;
}


.btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #ffc0eb;
  color: rgb(20, 8, 8);
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #ffc6e1;
}



.card img {
  text-align: center;
}







.home {
  display: flex;
  overflow: hidden;       /* esconde o que sai da área */
  width: 600px;           /* largura visível */
}

.home img {
  width: 600px;           /* cada imagem ocupa toda a largura */
  animation: slide 9s infinite; /* animação contínua */
}

/* animação: move as imagens para a esquerda */
@keyframes slide {
  0%   { transform: translateX(0); }
  33%  { transform: translateX(-100%); }
  66%  { transform: translateX(-200%); }
  100% { transform: translateX(0); }
}









.galeria img {
  filter: grayscale(100%);   /* deixa a imagem em preto e branco */
  transition: filter 0.5s ease; /* suaviza a transição */
}

img:hover {
  filter: grayscale(0%);     /* volta para as cores originais */
}






